<div class="w-full h-14 bg-primary relative top-0 flex justify-between p-3 items-center">
    <div class="w-16 h-7">
        <img class="w-full h-full" src="./assets/logo/fut-street.png" alt="">
    </div>
    <div class="flex gap-4 items-center">
        <div class="cursor-pointer"><img src="./assets/icons/notification.svg" alt=""></div>
        <div class="w-10 h-10 border-white border-solid  border-2 rounded-full flex justify-center items-center"><img class="rounded-full w-8 h-8" src="{{url$ | async}}" alt=""></div>
    </div>
</div>