<div class="container-content">
    <div class="mt-28 flex items-center justify-center">
        <img src="./assets/logo/fut-street.png" alt="">
    </div>



    <form class="max-w-sm mx-auto mt-8">
        <div class="">
            <label for="email"
                class="mb-2 text-sm font-medium text-white relative left-5 p-1 top-2.5 bg-bg rounded-lg font-default">Email</label>
            <input type="email" id="email"
                class="bg-bg border h-12 border-gray-300 text-white text-sm rounded-lg focus:border-primary block w-full p-2.5"
                required />
        </div>
        <div class="">
            <label for="password"
                class="mb-2 text-sm font-medium text-white relative left-5 p-1 top-2.5 bg-bg rounded-lg font-default">password</label>
            <input type="password" id="password"
                class="bg-bg border h-12 border-gray-300 text-white text-sm rounded-lg focus:border-primary block w-full p-2.5"
                required />
        </div>

        <div class="flex flex-col mb-5 mt-14">
            <button type="submit"
            class="text-white bg-primary rounded-lg text-xl  w-full sm:w-auto px-5 py-2.5 text-center font-bold font-default">Login</button>
        <button type="submit" routerLink="/register"
            class="text-white mt-4 bg-bg border border-white rounded-lg text-xl  w-full sm:w-auto px-5 py-2.5 text-center font-bold font-default">Cadastrar</button>
        </div>
       
    </form>

</div>