<app-account-header />
<nav class="w-full h-auto">
    <ul class="flex flex-col p-5 gap-4">
        <h2 class="text-white font-extrabold text-2xl">MEUS DADOS</h2>
        <li class="text-white flex justify-between">
            <div class="flex gap-2 items-center">
                <div class="bg-bg-parent w-10 h-10 rounded-lg flex justify-center items-center">
                    <img class="" src="./assets/icons/icon.svg" alt="">
                </div>
                <p class="text-xl">Dados pessoais</p>
            </div>

            <img src="./assets/icons/caret-right.svg" alt="">
        </li>
        <li class="text-white flex justify-between">
            <div class="flex gap-2 items-center">
                <div class="bg-bg-parent w-10 h-10 rounded-lg flex justify-center items-center">
                    <img class="" src="./assets/icons/icon.svg" alt="">
                </div>
                <p class="text-xl">Dados pessoais</p>
            </div>

            <img src="./assets/icons/caret-right.svg" alt="">
        </li>

        <h2 class="text-white font-extrabold text-2xl">MEUS GRUPOS</h2>
        <li class="text-white flex justify-between">
            <div class="flex gap-2 items-center">
                <div class="bg-bg-parent w-10 h-10 rounded-lg flex justify-center items-center">
                    <img class="" src="./assets/icons/icon.svg" alt="">
                </div>
                <p class="text-xl">Dados pessoais</p>
            </div>

            <img src="./assets/icons/caret-right.svg" alt="">
        </li>



    </ul>
</nav>