<div class="fixed bg-primary bottom-0 w-full max-w-[500px] h-20 rounded-t-lg sidebar">
    <ul>
        <li>
            <img src="./assets/icons/matches.svg" alt="">
        </li>
        <li>
            <img src="./assets/icons/folder-open.svg" alt="">
        </li>
        <li>
            <img src="./assets/icons/money-bag.svg" alt="">
        </li>
        <li>
            <img src="./assets/icons/leaderboard.svg" alt="">
        </li>
        <li>
            <img src="./assets/icons/user-story.svg" alt="">
        </li>
    </ul>
</div>